{%extends "webapp/header.html"%}


	   {% block content %}
<p align="justify">Ο παρών ιστότοπος αποτελεί μια παρουσίαση των ενδείξεων των αισθητήρων που χρησιμοποιήθηκαν για την δημιουργία μιας πλήρους εφαρμογής ελέγχου πλήθους (crowd analytics). Η γλώσσα που επιλέχτηκε για την ανάπτυξη της παραπάνω ιδέας ήταν η Python λόγω της ευρείας χρήσης της στο Διαδίκτυο και κατ'επέκταση του framework Django. Ετός της ανάπτυξης μιας βάσης δεδομένων (back-end) καθώς και ενός τρόπου οπτικοποίησης των δεδομένων (front-end)  οι μελλοντικές χρήσεις της εφαρμογής θα επεκταθούν στην λήψη αποφάσεων και κρίσης σχετικά με τα εκάστοτε εισαγόμενα δεδομένα. Αυτό θα επιτευχθεί με διάφορες τεχνικές εξεργασίας δεδομένων όπως συμπλέγματα δεδομένων (clustering) και Νευρωνικά Δίκτυα (Neural Networks) για τις οποίες υπάρχει πλήθος διαθέσιμων βιβλιοθηκών προς αξιοποίηση στην Python.<p>
	<p align="justify">Το μοντέλο για την μελέτη και υλοποίησης της παραπάνω ιδέας αποτέλεσε η Οικία του Μάνου Χατζιδάκι στην Ξάνθη (το λεγόμενο ιστορικό διατηρητέο κτήριο “Φρουραρχείο Ξάνθη”) δηλαδή ενός δημόσιου χώρου χωρητικότητας 4ων δωματίων εκ των οποίων τα 3 είναι διαθέσιμα στο κοινό. Πιο συγκεκριμένα, κάθε δωμάτιο απαρτίζεται από μια είσοδο στην κάθε μια από τις οποίες έχει εγκατασταθεί ένας ηλεκτρονικός μετρητής πλήθους υπεύθυνος για την καταγραφή δεδομένων που αφορούν την είσοδο του εκάστοτε επισκέπτη. Η πληροφορία παρέχεται υπό την εξής μορφή:<p>

 <p align="center"> &lt;id, gender &gt; </p>
	
	<div class="container-fluid" style='margin-left:30px'>
	Όπου, <ul>
<li>id:δηλώνει τον μοναδικό αριθμό που αφορά την εκάστοτε μέτρηση-χρήση</li> 
<li> gender:δηλώνει το φύλλο του διαβάτη (άντρας ή γυναίκα)</li>
	</div>
	<p>Για παράδειγμα, τα δεδομένα θα έχουν την εξής μορφή:

<p align="center">[&lt;00-14-22-01-23-45,man&gt;,&lt;00-14-22-01-23-46,woman&gt;,&lt;00-14-22-01-23-47,man&gt;]</p>

	<p align="justify">Στο τέταρτο δωμάτιο το οποίο δεν είναι διαθέσιμο στο κοινό, βρίσκεται ένας υπολογιστής ο οποίο επιτελεί την διαδικασία του ελέγχου και συντονισμού των υπολοίπων μέσω της τοπικής διασύνδεσής τους. Αξίζει να αναφερθεί ότι επιλέχτηκε τοπική σύνδεση καθώς αν και υφίσταται σύνδεση στο Διαδίκτυο λόγω αυξομειώσεων της τάσης στην συγκεκριμένη περιοχή καθώς και συνολικότερα παλαιότητας κτηρίου αυτή, δυστυχώς υπόκειται συχνά σε διακοπές.</p>



	   {% endblock %}	
	

